{% extends 'base.html' %}
{% block title %} Home{% endblock title %}
{% block body %}



<!-- result  -->


<div class="border border-light p-3 mb-4">
    <span class="row">
        <div class="text-center col-sm-6 col-md-6 col-lg-6">
            <button type="button" name="load_cdata" class="but" style="float: none;" id="load_cdata"
                class="btn btn-primary">Create Model</button>
        </div>
    </span>

    <div class="container">


        <form name='model' method='POST' ,action=#>
            <div class="row">
                <div class="col-50">
                    <input class="col-sm-6 col-md-6 col-lg-6" type="radio" , value='classification' ,name='classification' , onclick="">Classification
                    <input class="col-sm-6 col-md-6 col-lg-6" type="radio" , value='regression' ,name='regression' ,onclick=''>Regression
                </div>
            </div>
            <select name="model">
                <option value='naivebayes'>naivebayes</option>
                <!-- var_smoothing=1e-9 -->
                <option value='knn'>Knn</option>
                <!-- n_neighbors = 5 ,leaf_size = 30 -->
                <option value='decisiontrees'>decisiontrees</option>
                <!-- max_depth=None,min_samples_split=2 -->
                <option value='randomforest'>randomforest</option>
                <!-- n_estimators=500,max_leaf_nodes=None,min_samples_split=2 -->
                <option value='linearreg'>linearreg</option>

                <option value='decisiontreereg'>decisiontreereg</option>
                <!-- max_depth=None,random_state=42,min_samples_split=2 -->
                <option value='randomforestreg'>randomforestreg</option>
                <!-- n_estimators=500,max_leaf_nodes=None -->
                <option value='knnreg'>knnreg</option>
                <!-- n_neighbors = 5 ,leaf_size = 30 -->
            </select>
            <br>
            <label for="var_smoothing">var_smoothing</label><br>
            <input name="var_smoothing" type="number" maxlength="150" placeholder="enter a number"><br>
            <label for="n_neighbors">n_neighbors</label><br>
            <input name="n_neighbors" type="number" placeholder="enter a number "><br>
            <label for="leaf_size">leaf_size</label><br>
            <input name="leaf_size" type="number" placeholder="enter a number "><br>
            <label for="max_depth">max_depth</label><br>
            <input name="max_depth" type="number" placeholder="enter a number by default None"><br>
            <label for="min_samples_split">min_samples_split</label><br>
            <input name="min_samples_split" type="text" placeholder="enter a number by default 2"><br>
            <label for="n_estimators">n_estimators</label><br>
            <input name="n_estimators" type="text" placeholder="enter a number by default 100"><br>
            <label for="random_state">random state</label><br>
            <input name="random_state" type="number" placeholder="enter a number by default 42"> <br>
            <input type="submit">
        </form>
    </div>



    </section>
    <!-- End of goal section  -->
    <br><br>
    {% endblock body %}